.header {
  
    background-color: rgb(rgb(0, 0, 0), green, blue, 0.6);
    color: #fff;
    padding: 1rem;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.3s ease;
  }
  
  .header a:hover {
    color: #ff5722; /* Change this color to your preferred hover color */
  }