/* HeroSection.css */
.hero-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.carousel-image {
  height: 100vh; /* Set a default height for larger screens */
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Adjust text color */
  z-index: 2; /* Ensure content is above images */
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}