* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; 
}



.img-accordion {
  width: 100%;
  max-width: 1440px;
  height: 70vh;
  display: flex;
}

.accordion-item {
  height: 100%;
  flex: 1;

  /* transform: skew(5deg); */
  cursor: pointer;
  position: relative;
  transition: flex 0.3s;
  overflow: hidden;
  background-color: #000;
}

.accordion-item img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordion-item p {
  border-radius: 30px;
  position: absolute;
  bottom: -100px;
  left: 0;
  font-size: 14px;
  font-weight: 200;

 
 
  color: #ffff;
  padding: 10px;
  /* transform: rotate(-90deg); */
  transform-origin: top left;
  transition: all 0.3s;
}
.accordion-item span {
  font-weight: 400;
  font-size: 25px;

 

}

.accordion-item:hover p {
  /* transform: rotate(0); */
  bottom: 10px;
  left: 20px;


}

.accordion-item:hover {
  flex: 4;
}

/* Add this CSS to your App.css or a separate CSS file */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0); /* Start with the header visible */
  transition: transform 3s ease-in-out; /* Add a smooth sliding animation */
  z-index: 1; /* Ensure the header is on top of other content */
}

.header.hidden {
  transform: translateY(-100%); /* Slide the header out of view */
  pointer-events: none; /* Make the hidden header non-interactive */
}
